/* Ubicación de contact.html */ 

#contact-main {
    width: 98%;
    display: grid;
    grid-template-areas: 
    "contacto ubicacion"
    ;
}

.contacto-gral {
    grid-area: contacto;
}

.ubicacion {
    grid-area: ubicacion;
}

/* Formulario de contact.html */

.form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

#form1 {
    background-color: rgba(52, 196, 204, 0.158);
    border-radius: 1em;
    height: 100%;

    span {
        display: inline-block;
        margin: 10px;
    }

    div {
        display: block;
        margin: 10px;
    }
}

.rosa {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color:rgb(255, 185, 242);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.contact {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;

    iframe{
        width: 80%;
        height: 50%;
        object-fit: cover;
        border-radius: 1em 1em 0 0;
        margin: 0 1em;
    }

    ul {
        font-size: 1.5rem;
        height: 50%;
        width: 80%;
        background-color:rgb(229, 229, 229);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        border-radius: 0 0 1em 1em;
        margin: 0 1em;
    }
}