*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #ffffff;
    text-align: center;
    color: #1a1a92;
    font-size: 1.2em;
}

/*Colores: CELESTE: 52,196,204; NARANJA: 248,167,24; ROSA: 249,189,215; VERDE: 0,194,1*/

/* Esto corresponde al header */
.logo-principal {
    font-size: 20px;
    color: #1dd0f8;
}

.logo-principal img {
    height: 200px;
    width: auto;
    border-radius: 20px;
    box-shadow: 7px 7px 19px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 7px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 19px -4px rgba(0,0,0,0.75);
}

.logo-principal h1 {
    display: none;
    visibility: hidden;
}

.logo-principal p {
    display: none;
    visibility: hidden;
}

/* Navegador */

.navbar {

}

/* nav {
    display: flex;
    width: 100%;
    height: 80px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(52, 196, 204);
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

nav li:hover {
    transform: scale(1.2);
} */

/* Main del index */

.local img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    position: relative;
}

.local p {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    width: 80vw;
    bottom: 10rem;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgba(0, 0, 0, 0.553);
    border-radius: 1rem;
    padding: 1rem;
}

/*Galería*/ 

.galeria {
    width: 90%;
    transform: translateX(5%);
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 15px;
}

.galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 7px 7px 19px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 7px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 19px -4px rgba(0,0,0,0.75);
    border-radius: 1rem;
}

.categoria {
    position: relative;
}

.categoria:hover {
    transform: scale(1.05, 1.05);
}

.categoria h3 {
    position: absolute;
    bottom: 0;
    background-color: rgba(52,196,204);
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    padding: 4px;
    color: white;
}

/*Parte de pagos y envios del index*/

.img-pago {
    width: 100%;
    margin-top: 5rem;
}

.contenedor {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.pago {
    width: 500px;
    height: 350px;
    position: relative;
}

.pago img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.pago p {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.553);
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    padding: .5rem;
    border-radius: 0 1rem 0 0;
}

/* Main de about.html */ 

.nosotros {
    display: flex;
    width: 90%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    transform: translateX(4%);
    margin: 20px;    
}

.nosotros h3 {
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    /**background-color:rgb(0, 214, 57);**/
    background-color: rgb(248, 167, 24);
    box-shadow: 7px 7px 19px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 7px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 19px -4px rgba(0,0,0,0.75);
    border-radius: 1rem;
    padding: 1rem;
}

.nosotros p {
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(249, 189, 215, 0.7);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.fotos {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(6%);
}

.fotos img {
    height: 500px;
    border-radius: 1rem;
    box-shadow: 7px 7px 19px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 7px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 19px -4px rgba(0,0,0,0.75);
}

/* Main de faq.html */ 

.pregunta {
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.pregunta h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color:rgb(249, 189, 215);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.pregunta p {
    color: #000000;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

/* Ubicación de contact.html */ 

#contact-main {
    width: 98%;
    display: grid;
    grid-template-areas: 
    "contacto ubicacion"
    ;
}

.contacto-gral {
    grid-area: contacto;
}

.ubicacion {
    grid-area: ubicacion;
}

/* Formulario de contact.html */

.form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

#form1 {
    background-color: rgba(52, 196, 204, 0.158);
    border-radius: 1em;
    height: 100%;
}

#form1 span {
    display: inline-block;
    margin: 10px;
}

#form1 div {
    display: block;
    margin: 10px;
}

.rosa {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color:rgb(255, 185, 242);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}

.contact {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.contact iframe{
    width: 80%;
    height: 50%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
    margin: 0 1em;
}

.contact ul {
    font-size: 1.5rem;
    height: 50%;
    width: 80%;
    background-color:rgb(229, 229, 229);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    border-radius: 0 0 1em 1em;
    margin: 0 1em;
}

/*Tabla de talles*/

.talles h3 {
    padding: 10px;
}

.tabla-talles{
    width: 50%;
    border: 3px solid rgb(248, 167, 24);
    transform: translateX(50%);
}

/*Footer - Todos los HTML*/

footer {
    background-color: rgb(52, 196, 204);
    width: 100%;
    height: 60px;
    color: #000000;
    margin-top: 3rem;
}

footer div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

footer div p {
    justify-content: center;
}

@media screen and (max-width:1100px) {

    .local img {
        height: 60vh;
    }

    .galeria {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 250px;
        margin-top: 5px;
    }

    .indu {
        grid-row-start: span 2;
    } 

    .foto-4 {
        grid-column-start: span 3;
    }

    .img-pago {
        width: 90%;
        margin-top: 2rem;
    }
    
    .contenedor {
        width: 90%;
        transform: translateX(10%);
    }
    
    .pago {
        width: 400px;
        height: 300px;
        margin-right: 10px;
    }
    
    .pago p {
        font-size: 1rem;
    }

    .nosotros p {
        font-size: 1.2rem;
    }
    
    .fotos {
        width: 100%;
    }
    
    .fotos img {
        height: 400px;
        width: auto;
        transform: translateX(-10);
    }

    .contact ul {
        font-size: 1.2rem;
    }
    
}

@media screen and (max-width:970px) {

    #contact-main {
        width: 98%;
        display: flex;
        flex-direction: column;
    }

    footer {
        margin: 5px;
        padding: 5px;
        height: 100%;
    }

}

@media screen and (max-width:740px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
        margin-top: 2px;
    }

    .indu {
        grid-row-start: span 1;
    } 
    
    .foto-4 {
        grid-column-start: span 1;
    }

    .contenedor {
        width: 100%;
        transform: translateX(5%);
    }

    .pago {
        width: 400px;
        height: 200px;
    }

}

@media screen and (max-width:520px) {

    .logo-principal img {
        height: 150px;
        width: auto;
        padding: 10px;
        box-shadow: none;
        position: absolute;
        left: 20px;
    } 

    /* nav {
        height: auto;
        flex-direction: column;
    }
    
    nav ul {
        width: 100%;
        height: 150px;
        display: flex;
        background-color: rgb(52, 196, 204);
        flex-direction: column;
        align-items: flex-end;
    }
    
    nav li a {
        font-size: 1.3em;
        padding: 5px;
    } */

    .local img {
        display: flex;
    }

    .local p {
        font-size: 1.2rem;
    }

    .galeria {
        grid-auto-rows: 200px;
    }

    footer {
        height: auto;
        margin-top: 3rem;
        padding: 5px;
    }

    footer div {
        display: flex;
        flex-direction: column-reverse;
    }

    .pregunta h3 {
        font-size: 1.2rem;
    }
    
    .pregunta p {
        font-size: 1rem;
    }

    #form1 {
        width: 100%;
        display: inline-block;
    }

}

@media screen and (max-width:320px) {

    .galeria {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 200px;
        margin-top: 1px;
    }

    .contenedor {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 1rem;
    }

    .pago {
        width: auto;
        height: auto;
    }

    .nosotros p {
        font-size: 1rem;
    }
}